html, body {
  font-weight: 300;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: 'Futura', sans-serif;
  margin: 0;
  text-align: center;
/*  padding: 20px 0 0 0; */
}



.page-title {
  font-weight: inherit;
  margin: 40px 0 40px 0;
  text-align: center;
}


.jumbotron{
  background-image: url();
  
}

.jumbotron h1{
  color: white;
  font-size: 60px;
  line-height: 100px;
  margin: 0;
  padding: 20px 100px;
}

.jumbotron p{
  font-size: 16px;
  margin: 0;
  padding: 0 100px 40px;

}

.row{
  /* padding: 300px 0; */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 800px;
  justify-content: center;
  }

#row1{
    background-color: #19F8CE;
    font-family: Futura;
}

#row2{
    background-color: #19A4F8;
    font-family: "Open Sans", sans-serif;
}

#row3{
    background-color: #F8195C;
    font-family: Trirong, Futura, sans-serif;
}

#row4{
    background-color: #F89519;
    font-family: Lato;
    font-weight: 100;
}

#row5{
    background-color: #F8DA19;
    font-family: Futura;
}


#row6{
    background-color: #CCF819;
    font-family: Futura;
}




.main {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}




.learn-more {
  color: #0071BC;
  display: block;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}

.space-container {
  display: flex;   
  flex-wrap: wrap;
  justify-content: center;
 /* padding: 20px 0; */
}

.space-item {
/*  flex: 1;
  flex-basis: 25%; */
  margin: 0;
}

.space-item .thumbnail {
/*  width: 100%; */
  height: auto;
  max-width: 300px;
/*  border: 2px solid #ffffff; */
}





/* FOOTER NAVIGATION */

nav {
  font-size: 0.70em;
  margin-top: 30px;
}

nav ul {
  display: inline;
}

nav li {
  display: inline;
  padding: 20px 20px;
}


